/* This is the default theme, always embedded into the library.
Command: sassc --style compressed default.scss default.css
*/

* {
    color: $text-color;
    font-family: sans-serif;
    font-size: 14px;
}
