/* The default stylesheet. Always embedded into binaries and applied before any other CSS. */

* {
  color: #222;
  font-family: sans-serif;
  font-size: 14px;
}

Spacer {
  stretch: both;
}

Button,
ButtonLike,
CheckBox,
RadioButton,
ComboBoxBase {
  display: row;
  cursor: pointer;
}

LinkButton {
  stretch: none;
  cursor: pointer;
}

Paragraph {
  white-space: pre-wrap;
}

EditorSearchPane {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "fe fb c" "re rb .";
}
EditorSearchPane > .find {
  grid-area: fe;
}
EditorSearchPane > .find-buttons {
  display: row;
  grid-area: fb;
}
EditorSearchPane > .replace {
  grid-area: re;
}
EditorSearchPane > .replace-buttons {
  display: row;
  grid-area: rb;
}
EditorSearchPane > .close {
  grid-area: c;
}

GroupBox,
Popup {
  display: column;
}

TabItem,
TabBar {
  display: row;
}

TabWidget {
  display: column;
}

ListView > .item,
TreeItemWidget,
TreeItemWidget > Panel {
  display: row;
}

TreeWidget {
  display: column;
  gap: 0;
}

ToolBar,
ToolBarHost,
StatusLine,
StatusLineTextPanel,
StatusLineIconPanel {
  display: row;
}

AppFrame,
WindowFrame {
  display: column;
}

WindowFrame > .caption,
WindowFrame > .body {
  display: row;
}

Dialog {
  display: column;
}

Dialog > .buttons {
  display: row;
}

FileDialog .content {
  display: row;
  stretch: both;
}

FileDialog .right-panel {
  display: column;
}

FilePathPanelItem,
FileNameEditLine {
  display: row;
}

SettingsDialog > .content {
  display: row;
  stretch: both;
}
SettingsDialog .settings-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
}
SettingsDialog .settings-table > .full-row,
SettingsDialog .settings-table > .title {
  grid-column-end: span 2;
}
