/* This is the default stylesheet. It is always embedded into binaries and
   applied before any other CSS at runtime.

   Command: sassc --style compressed default.scss default.css
*/

* {
    color: #222;
    font-family: sans-serif;
    font-size: 14px;
}

Spacer {
    stretch: both;
}

Button, CheckBox, ComboBoxBase {
    display: row;
}

LinkButton {
    stretch: none;
}

Paragraph {
    white-space: pre-wrap;
}

FindPanel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "fe fb c" "re rb .";

    > .find {
        grid-area: fe;
    }
    > .find-buttons {
        display: row;
        grid-area: fb;
    }
    > .replace {
        grid-area: re;
    }
    > .replace-buttons {
        display: row;
        grid-area: rb;
    }
    > .close {
        grid-area: c;
    }
}

GroupBox, Popup {
    display: column;
}

TabItem {
    display: row;
}

TabWidget {
    display: column;
}

IconStringListAdapter::item, TreeItemWidget, TreeItemWidget::body {
    display: row;
}

TreeWidgetBase > Panel {
    display: column;
    gap: 0;
}

ToolBar, ToolBarHost, StatusLine, StatusLineTextPanel, StatusLineIconPanel {
    display: row;
}

AppFrame, WindowFrame {
    display: column;
}

WindowFrame::caption, WindowFrame::body {
    display: row;
}

Dialog {
    display: column;
}

Dialog #buttons {
    display: row;
}

FileDialog .content {
    display: row;
    stretch: both;
}

FileDialog .right-panel {
    display: column;
}

FilePathPanelItem, FileNameEditLine {
    display: row;
}

SettingsDialog {
    .content {
        display: row;
        stretch: both;
    }

    .settings-table {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: start;

        > .full-row, &::title {
            grid-column-end: span 2;
        }
    }
}
