/* some styles for the main window */

Controls {
    padding: 10px 15px;
}

.expand { flex: 1; }

#tab1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#tab2 {
    display: column;
}
#tab2 > EditBox {
    justify-self: stretch;
}

#p1, #p2 {
    display: flex;
}

Button.folder > .label {
    color: orange;
}
