.horizontal {
  flex-direction: row;
}
.stretch {
  flex: auto;
}

App {
  display: column;
}

Tabs {
  justify-self: stretch;
}

TabForControls {
  display: flex;
  flex-direction: column;
}

TabForControls > Panel {
  display: flex;
}

TabForControls > Panel > Panel {
  display: flex;
  flex-direction: column;
}

TabForControls .labels {
  text-align: center;
}
TabForControls Label.l-1 {
  color: red;
}
TabForControls Label.l-2 {
  font-style: italic;
}
TabForControls Label.lorem {
  text-decoration: underline;
}

TabForControls ActionButton > ButtonLike {
  flex-direction: column;
}

TabForEditors,
TextFieldWithSettings,
SourceEditorWithSettings {
  display: flex;
  flex-direction: column;
}
SourceEditorWithSettings {
  flex: auto;
}
TabForEditors .settings {
  display: flex;
  flex-wrap: wrap;
}
TabForEditors TextArea {
  flex: auto;
}

TabForLists {
  display: flex;
  flex-direction: row;
}

TabForLists > Panel {
  flex-grow: 1;
}

TabForCharts {
  display: column;
}
